<section class="py-16 max-w-[65%] mx-auto">
  <div class="flex flex-col items-center space-y-8">
    <p class="mini-title font-extrabold">Getting Started</p>
    <p class="text-4xl font-extrabold text-[#24221E] max-w-[65%] text-center">
      Lorem Ipsum is simply dummy text of the printing.
    </p>
    <div class="flex space-x-4">
      <div class="flex flex-col space-y-4">
        <div class="p-4 bg-[#F3E9EB] rounded-full max-w-fit">
          <img
            class="p-4 w-28"
            src="assets/Other/Create Account.svg"
            alt="create account"
          />
        </div>
        <h4><span class="list">1.</span>Create Account</h4>
        <p class="text-[#5D7079]">
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
      <div class="flex flex-col space-y-4">
        <div class="p-4 bg-[#F3E9EB] rounded-full max-w-fit">
          <img
            class="p-4 w-28"
            src="assets/Other/Confirmation.svg"
            alt="Confirmation"
          />
        </div>
        <h4><span class="list">2.</span>Confirmation</h4>
        <p class="text-[#5D7079]">
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
      <div class="flex flex-col space-y-4">
        <div class="p-4 bg-[#F3E9EB] rounded-full max-w-fit">
          <img class="p-4 w-28" src="assets/Other/Payment.svg" alt="Payment" />
        </div>
        <h4><span class="list">3.</span>Payment</h4>
        <p class="text-[#5D7079]">
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
    </div>
  </div>
</section>
