<section class="w-full h-dvh flex">
  <!-- <img class="banner-image relative" src="assets/Img header.jpg" alt="" /> -->
  <div class="w-[90%] mx-auto flex items-center justify-between">
    <div class="container flex flex-col justify-center space-y-8 max-w-[40%]">
      <p>Simple. Quick. Secure.</p>
      <p class="text-4xl">Send Money Anywhere, Instantly</p>
      <p>
        Fast, secure, and affordable international money transfers. Get started
        in minutes
      </p>
      <button
        (click)="handleCreateAccount()"
        class="prim-button py-4 px-8 rounded-[6.5px] max-w-fit"
      >
        Create An Account
      </button>
    </div>
    <transfer-card-comp class="min-w-[35%]"></transfer-card-comp>
  </div>
</section>
