<footer>
  <div
    class="flex flex-col justify-center items-center max-w-[90%] mx-auto pt-12 space-y-8"
  >
    <div class="flex flex-col justify-center items-center text-white space-y-4">
      <h3>Speedo Transfer</h3>
      <p class="text-sm">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <h5>Contact Info</h5>
      <p class="mt-8 text-sm">
        Email: <a href="">BM19888&#64;banquemisr.com</a>
      </p>
      <p class="text-sm">Phone: 00000</p>
    </div>
    <div class="p-8 border-t-[1px] border-[#CDD6E04D] text-center w-full">
      All Rights Reserved for Speedo Transfer ©2024
    </div>
  </div>
</footer>
