.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .dropdown-toggle span {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .dropdown-toggle span.flipped {
    transform: rotate(180deg);
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    min-width: 150px;
    overflow: hidden;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }