<section class="container  mx-auto px-8 py-1 ">
    <h4 class="text-2xl ">Payment Hiatory</h4>
<br>
    <div>
        <div class="accNUM flex justify-between">
            <p class=" text-lg font-medium text-center">Account Number: 6785 4987 6543</p>
        <img src="/assets/icons/copy.svg">
        </div>
        <br>
        <div class="flex mx-12 justify-between">
            <div class="s-div">
                <p class="font-bold mb-2">Account Details</p>
                <p class="text-gray-600 mb-2">Recipient Name</p>
            </div>
            <div>
                <p class=" font-bold mb-2">Total Price: 1000USD</p>
                <p class="text-gray-600 mb-2 pl-10">Jonathon Smith</p>
            </div>
        </div>
    </div>
    <br><br>
    <div>
        <div class="accNUM flex justify-between">
            <p class=" text-lg font-medium text-center">Account Number: 6785 4987 6543</p>
        <img src="/assets/icons/copy.svg">
        </div>
        <br>
        <div class="flex mx-12 justify-between">
            <div class="s-div">
                <p class="font-bold mb-2">Account Details</p>
                <p class="text-gray-600 mb-2">Recipient Name</p>
            </div>
            <div>
                <p class=" font-bold mb-2">Total Price: 1000USD</p>
                <p class="text-gray-600 mb-2 pl-10">Jonathon Smith</p>
            </div>
        </div>
    </div>

</section>