<section class="container mx-auto px-8 py-1">
    <h4 class="text-2xl">Payment History</h4>
    <br>
    <div  *ngFor="let item of items; let i = index">
      <div class="accNUM flex justify-between ">
        <div class="flex">
          <label class="text-lg font-medium">Account Number:</label>
          <p #textToCopy [attr.data-index]="i" class="font-medium">{{item.accountNumber}}</p>
        </div>
        <button (click)="copyText(i)">
          <img [src]="copyIcons[i]" alt="Copy Icon">
        </button>
      </div>
  
      <br>
      <div class="flex mx-12 justify-between mb-6">
        <div class="s-div">
          <p class="font-bold mb-2">Account Details</p>
          <p class="text-gray-600 mb-2">Recipient Name</p>
        </div>
        <div>
            <div class="flex">
          <label class="font-bold mb-2">Total Price:</label><p class="font-bold mb-2">1000<span>USD</span></p>
        </div>
          <p class="text-gray-600 mb-2 pl-10">Jonathon Smith</p>
        </div>
      </div>
    </div>
  </section>
  