<section class="container mx-auto px-8 py-1">
    <h4 class="text-2xl  ">Settings</h4>
    <br>
    <nav class=" flex space-x-8 px-0 mx-0">
        <a class="b-nv">Profile</a>
        <a class="b-nv">Change Password</a>
    </nav>
    <br>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label for="currentPassword" class="block text-gray-700 text-base mb-2">Current Password</label>
            <input type="password" id="currentPassword"
                class="shadow appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Type Here" required>
        </div>
        <div>
            <label for="newPassword" class="block text-gray-700 text-base mb-2">New Password</label>
            <input type="password" id="newPassword"
                class="shadow appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Type Here" required>
        </div>
        
    </div>
    <button class=" text-base text-white mt-6 " type="button">Update Password</button>

</section>