
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label for="currentPassword" class="block text-gray-700 text-base mb-2  w-780-max:text-[14px]">Current Password</label>
            <input type="password" id="currentPassword"
                class="shadow appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-780-max:text-[14px] w-780-max:p-[.5rem]"
                placeholder="Type Here" required>
        </div>
        <div>
            <label for="newPassword" class="block text-gray-700 text-base mb-2 w-780-max:text-[14px]">New Password</label>
            <input type="password" id="newPassword"
                class="shadow appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-780-max:text-[14px] w-780-max:p-[.5rem]"
                placeholder="Type Here" required>
        </div>
        
    </div>
    <button class=" text-base text-white mt-6 p-[16px_32px_16px_32px] w-780-max:text-[14px] w-780-max:p-[.5rem]" type="button">Update Password</button>

