@import "../../shared/globalVariables";
section{
    font-family:  "Inter", sans-serif;
    
}
h3{
    color: $primary-color;
} 
.data{
 margin-left: 5%;
}
h4{
    font-weight: 500;
    font-size: 24px;
}