<section class="container mx-auto px-8 py-1">
  <h4 class="text-2xl">My Profile</h4>
  <br />
  <div class="mt-8 flex">
    <p class="text-8xl font-bold text-black m">10000<span>$</span></p>
    <h3 class="text-4xl font-extrabold pt-8">Balance</h3>
  </div>
  <div class="flex">
    <div class="flex flex-col gap-6">
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base">First Name:</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base">Email:</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base">Phone:</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base">Gender:</p>
      </div>
    </div>
    <div class="data flex flex-col gap-6">
      <div class="flex items-center">
        <p class="text-gray-900">Jonathon Smith</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-900 text-base">jhonathonsmith at gmail.com</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-900">+880125412624</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-900">Male</p>
      </div>
    </div>
  </div>
</section>
