<section class="container mx-auto px-8 py-1 w-625-max:px-[1rem]">
  <h4 class="text-2xl w-625-max:text-[5px]">My Profile</h4>
  <div class="mt-8 flex w-625-max:flex-row">
    <p class="text-8xl font-bold text-black flex items-center w-1190-max:text-[3rem] w-625-max:text-[1rem]">10000<span>$</span></p>
    <h3 class="text-4xl font-extrabold pt-8 w-1190-max:pt-0 w-625-max:text-[15px]">Balance</h3>
  </div>
  <br><br>
  <div class="flex">
    <div class="flex flex-col gap-6 w-625-max:gap-[1rem]">
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base  w-625-max:text-[10px] w-625-max:w-[55px]">First Name:</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base  w-625-max:text-[10px] w-625-max:w-[55px]">Email:</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base  w-625-max:text-[10px] w-625-max:w-[55px]">Phone:</p>
      </div>
      <div class="flex items-center">
        <p class="text-gray-700 font-medium text-base  w-625-max:text-[10px] w-625-max:w-[55px]">Gender:</p>
      </div>
    </div>
    <div class="data flex flex-col gap-6 ">
      <div *ngFor="let profile of profiles">
        <div class="flex items-center">
          <p class="text-gray-900 w-625-max:text-[10px] ">{{ profile.name }}</p>
        </div>
        <br>
        <div class="flex items-center">
          <p class="text-gray-900 text-base w-625-max:text-[10px] ">{{ profile.email }}</p>
        </div>
        <br>
        <div class="flex items-center">
          <p class="text-gray-900 w-625-max:text-[10px] ">{{ profile.phone }}</p>
        </div>
        <br>
        <div class="flex items-center">
          <p class="text-gray-900 w-625-max:text-[10px] ">{{ profile.gender }}</p>
        </div>
      </div>
    </div>
  
