<nav class="h-24 flex justify-center items-center">
  <div class="title min-w-[30%]">Speedo Transfer</div>
  <div
    class="min-w-[60%] space-x-6 flex items-center justify-end justify-self-stretch"
  >
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/transfer" routerLinkActive="active">Money Transfer</a>
    <a routerLink="/myaccount" routerLinkActive="active">My Account</a>
    <nav-login-comp></nav-login-comp>
  </div>
</nav>
