@import '../../shared/globalVariables';
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input:focus{
    outline: none
}

button{
    background-color: $primary-color;
}
button:hover{
    background-color: darken($primary-color,10%);
}