<header class="h-[404px] bg-center bg-cover bg-no-repeat p-24 relative" style="background-image: url('/assets/Breadcrumb img.png');">
    <div class="absolute inset-0 bg-[rgba(242,232,234,0.8)] z-0"></div>
    <div class="flex justify-between items-center relative z-10">
      <div>
        <h2 class="text-5xl font-semibold leading-[150%]">My Account</h2>
        <p>Home  <span class="text-[#871E35]">&bull; My account</span></p>
      </div>
      <img src="/assets/Other/Breadcrumb vector.svg" alt="Illustration of trading steps">
    </div>
  </header>
  <br><br>
  <section class="flex flex-col items-center justify-center min-h-screen py-8 px-8">
    <div class="w-full max-w-md  p-6">
      <p class="text-4xl font-semibold text-gray-900 mb-4 text-center">No Profile</p>
      <br>
      <img src="/assets/Other/404.svg" alt="erorr404" class="w-full max-w-sm mx-auto mb-4">
      <br><br>
      <p class="text-gray-700 text-center mb-8 ">
        A profile is required to perform this action. Please log in or create an account.
      </p>
      <br>
      <button class=" text-white text-center py-2 px-4 " type="button">Register Now</button>
    </div>
    <br><br>
  </section>
  


