<header class=" bg-center bg-cover bg-no-repeat p-24 relative w-1190-max:p-12 w-625-max:p-[2rem] w-485-max:p-[1rem]" style="background-image: url('assets/Breadcrumb-img.png');">
  <div class="absolute inset-0 bg-[rgba(242,232,234,0.8)] z-0"></div>
  <div class="flex justify-between items-center relative z-10">
    <div>
      <h2 class="text-5xl font-semibold leading-[150%] w-1190-max:text-4xl w-820-max:text-[2rem] w-625-max:text-[1.8rem] w-485-max:text-[1.6rem] w-380-max:text-[1.4rem]">My Account</h2>
      <p class="w-1190-max:text-[14px] w-485-max:text-[12px]">Home &bull; My Account</p>
    </div>
    <img src="assets/Other/Breadcrumb-vector.svg" alt="Illustration of trading steps" class="w-1190-max:w-[200px] w-820-max:w-[150px] w-625-max:w-[120px] w-485-max:w-[100px] w-380-max:w-[80px]">
  </div>
</header>
  <br><br>
  <section class="flex flex-col items-center justify-center min-h-screen py-8 px-8">
    <div class="w-full max-w-md  p-6 w-545-max:flex w-545-max:flex-col">
      <p class="text-4xl font-semibold text-gray-900 mb-4 text-center">No Profile</p>
      <br>
      <img src="/assets/Other/404.svg" alt="erorr404" class="w-full max-w-sm mx-auto mb-4">
      <br><br>
      <p class="text-gray-700 text-center mb-8 ">
        A profile is required to perform this action. Please log in or create an account.
      </p>
      <br>
      <button class=" text-white text-center py-2 px-4 ml-[28%] w-545-max:m-0" type="button">Register Now</button>
    </div>
    <br><br>
  </section>
  


