<section class="container mx-auto px-8 py-1">
  <h4 class="text-2xl">Settings</h4>
  <br />
  <nav class="flex space-x-8 px-0 mx-0">
    <a
      routerLink="/myaccount/settings/updateProfile"
      RouterLinkActive="active"
      class="b-nv text-[20px] w-780-max:text-[14px]"
      >Profile</a
    >
    <a
      routerLink="/myaccount/settings/changepassword"
      RouterLinkActive="active"
      class="b-nv text-[20px] w-780-max:text-[14px]"
      >Change Password</a
    >
  </nav>
  <br />

  <router-outlet></router-outlet>
</section>
